


@{
}


<h3>Create a Content</h3>

 
<div>
    <form method="post" action="@Url.Action("Update", "TextEditor")">
        <input type="hidden" name="Id" id="Id"  value="@ViewBag.content[0].Id" />
        <div class="col-form-label">
            <label for="UserEmail">Owner:</label>
            <input type="text" name="UserEmail" id="UserEmail" disabled value="@ViewBag.content[0].UserEmail" />
        </div>
        <div class="col-form-label">
            <label for="Title">Title:</label>
            <input type="text" name="Title" id="Title" value="@ViewBag.content[0].Title" />
        </div>
        <div class="col-form-label">
            <label for="ShortDescription">Short Description:</label>
            <input type="text" name="ShortDescription" id="ShortDescription" value="@ViewBag.content[0].ShortDescription" />
        </div>

        <div class="col-form-label">
            <label for="SharedUsers">SharedUsers:</label>
            @if (@ViewBag.content[0].UserEmail == Online_TextEditior.Controllers.TextEditorController.UserEmail)
            {
                <input type="text" name="SharedUsers" id="SharedUsers" placeholder="Enter user email separated by comma" size="50" value="@ViewBag.content[0].SharedUsers"  />

            }
            else
            {
                <input type="text" name="SharedUsers" id="SharedUsers" placeholder="Enter user email separated by comma" size="50" value="@ViewBag.content[0].SharedUsers" disabled />

            }
        </div>

        <div class="form-group">
            <div class="form-floating">
                <textarea class="form-control" name="TextDescription" id="TextDescription" placeholder="Leave a comment here" style="height: 100px">@ViewBag.content[0].TextDescription</textarea>
                <label for="TextDescription">Content</label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
            <a href="/TextEditor/Index">

             <button class="btn btn-outline-danger" >Cancel</button>
            </a>
        </div>
    </form>

</div>
</div>
<br />
@*<div>
    <button class="btn btn-outline-danger" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#createModel">Save</button>
</div>*@
